<p>Elasticsearch</p>


<form>
  <input name="id" placeholder="id" [(ngModel)]="hero.id">
  <br>
  <input name="name" placeholder="name" [(ngModel)]="hero.name">
  <br>
  <input name="level" placeholder="level" [(ngModel)]="hero.level">
  <br>
  <input name="type" placeholder="type" [(ngModel)]="hero.type">
  <button (click)="doSend()">Submit</button>
</form>

<table>
  <tr>
    <td>id</td>
    <td>name</td>
    <td>level</td>
    <td>type</td>
  </tr>
  <tr *ngFor="let hero of data.hits">
    <td>{{hero._source.id}}</td>
    <td>{{hero._source.name}}</td>
    <td>{{hero._source.level}}</td>
    <td>{{hero._source.type}}</td>
  </tr>
</table>

<p>{{hero | json}}</p>